:root {
    --color-warm-gray: #574f4a;
    --color-black: #000;
    --color-social-pinterest: #cb2028;
    --color-green: #73c48f;
    --color-light-gray: #f6f6f6;
    --color-orange: #faa41a;
    --color-white: #fff;
    --color-social-google: #dd4b39;
    --color-yellow: #ffce51;
    --color-dark-gray: #404040;
    --color-medium-gray: #a6a6a6;
    --color-red: #f15d22;
    --color-blue: #48b9c7;
    --color-midnight: #102a4c;
    --color-purple: #330a24;
    --color-social-github: #000;
    --color-social-facebook: #3b579d;
    --color-social-instagram: #ffb900;
    --color-social-ubuntu: #300a24;
    --color-social-twitter: #00b6f1;
    --font-family-sans: Fira Sans, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Segoe UI, Roboto, Ubuntu, Cantarell, Nato Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-family-slab: Roboto Slab, serif;
    --font-family-mono: Ubuntu Mono, Ubuntu Monospace, Menlo, Consolas, Roboto Mono, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
    --line-height: 1.5;
    --box-shadow-light-action: 0 0 8px rgba(250, 164, 26, 0.7), 0 0 1px rgba(250, 164, 26, 0.7)
}