
/* Globals */

:root {
    --sidebar-width: 300px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
}

/* Themes */

.light {
    --bg: #ffffff;
    --fg: #272727;

    --sidebar-bg: #F6F6F6;
    --sidebar-fg: #272727;
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #000000;
    --sidebar-active-background: #48b9c7;
    --sidebar-spacer: #f4f4f4;

    --scrollbar: #8F8F8F;

    --icons: #747474;
    --icons-hover: #000000;

    --links: #20609f;

    --inline-code-color: var(--fg);
    --inline-code-bg: #E8E8E8;

    --theme-popup-bg: #F6F6F6;
    --theme-popup-border: #c9c9c9;
    --theme-hover: #dddddd;

    --quote-bg: hsl(197, 37%, 96%);
    --quote-border: hsl(197, 37%, 91%);

    --table-border-color: #c9c9c9;
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;
}

.dark {
    --bg: #272727;
    --fg: #cccccc;

    --sidebar-bg: #303030;
    --sidebar-fg: #cccccc;
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #000000;
    --sidebar-active-background: #94EBEB;
    --sidebar-spacer: #f4f4f4;

    --scrollbar: #8F8F8F;

    --icons: #747474;
    --icons-hover: #000000;

    --links: #20609f;

    --inline-code-color: var(--fg);
    --inline-code-bg: #4d4d4d;

    --theme-popup-bg: #303030;
    --theme-popup-border: hsl(0, 0%, 10%);
    --theme-hover: #444444;

    --quote-bg: #303030;
    --quote-border: hsl(0, 0%, 10%);

    --table-border-color: hsl(0, 0%, 10%);
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;
}
