.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333333;
  color: #f6f6f6;
}
.hljs-comment,
.hljs-quote {
  color: #586e75;
}
.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
  color: #73c48f;
}
.hljs-doctag,
.hljs-literal,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
  color: #34e2e2;
}
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
  color: #48b9c7;
}
.hljs-attr,
.hljs-attribute,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #b58900;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
  color: #cb4b16;
}
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}
.hljs-formula {
  background: #073642;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}


/*
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
/* .hljs-comment,
.hljs-quote {
  color: #575757;
} */

/* Red */
/* .hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #d70025;
} */

/* Orange */
/* .hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #b21e00;
} */

/* Green */
/* .hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #008200;
} */

/* Blue */
/* .hljs-title,
.hljs-section {
  color: #0030f2;
} */

/* Purple */
/* .hljs-keyword,
.hljs-selector-tag {
  color: #9d00ec;
} */

/* .hljs {
  display: block;
  overflow-x: auto;
  background: #f6f7f6;
  color: #000;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
} */
